.about-main {
    font-family: $font-main;

    .about-title {
        font-size: 64px;
        text-align: center;
    }

    .facts {
        text-align: center;
        width: 70%;
        margin: 12% auto 10% auto;
        display: block;
        
        h2 {
            font-size: 40px;
            font-weight: normal;
        }

        p {
            font-size: 22px;
            font-style: italic;
        }
    }

    .traits {
        display: block;
        width: 87%;
        margin: 5% auto;

        img {
            vertical-align: middle;
            width: 27%;
            border-radius: 50%;
        }

        p {
            display: inline-block;
            width: 65%;
            vertical-align: middle;
            margin-left: 3%;
            font-size: 18px;
        }

        #reading-paragraph {
            margin-left: 0;
            margin-right: 3%;
        }
    }

    .friend {
        text-align: center;
        height: 150px;
        margin-top: 10%;

        h3 {
            font-size: 38px;
            margin-bottom: 6%;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            background-color: #3b5998;
            color: #fff;
            font-size: 24px;
            padding: 25px 35px;
            box-sizing: border-box;
            transition: 0.5s;

            i {
                margin-right: 15px;
            }
        }

        a:hover {
            font-size: 28px;
        }
    }

}

@include tablet {
    .about-main {
        .about-title {
            font-size: 58px;
            margin-left: 2%;
            margin-right: 2%;
        }

        .facts {
            h2 {
                font-size: 36px;
            }
    
            p {
                font-size: 18px;
            }
        }

        .traits {
            p {
                font-size: 16px;
            }
        }

        .friend {
    
            h3 {
                font-size: 34px;
            }
    
            a {
                font-size: 22px;
            }
    
            a:hover {
                font-size: 26px;
            }
        }
    }
}

@include phone {
    .about-main {
        .about-title {
            font-size: 42px;
        }

        .facts {
            h2 {
                font-size: 28px;
            }
    
            p {
                font-size: 16x;
            }
        }

        .traits {
            margin: 32% auto;

            img {
                display: block;
                width: 100%;
                border-radius: 50%;
                margin: 0;
            }
    
            p {
                display: block;
                width: 100%;
                margin: 5% auto;
                font-size: 16px;
                text-align: center;
            }
        }

        #reading-trait {
            display: flex;
            flex-flow: column;
            justify-content: center;

            #reading-paragraph {
                order: 2;
                text-align: center;
                margin-right: 0;
                vertical-align: middle;
                width: 100%;
            }

            #reading-img {
                order: 1;
            }
        }

        .friend {
    
            h3 {
                font-size: 28px;
                margin-bottom: 10%;
            }
    
            a {
                font-size: 16px;
                padding: 15px 25px;
            }
    
            a:hover {
                font-size: 18px;
            }
        }
    }
}