.contact-title {
    font-family: $font-main;
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -2px;
    text-align: center;
}

.contact-details {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 1;

    .contact-email-details {
        grid-column: 1;
        grid-row: 1;
    } 

    .contact-phone-details {
        grid-column: 2;
        grid-row: 1;
    }

    .contact-social-details {
        grid-column: 3;
        grid-row: 1;
    }

    .contact-email-details-title,
    .contact-phone-details-title,
    .contact-social-details-title {
        text-align: center;
        font-family: $font-main;
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
    }

    #tel,
    #email {
        text-decoration: none;
        color: #000;
    }

    .contact-email-details-email,
    .contact-phone-details-phone,
    .contact-social-details-container {
        text-align: center;
    }

    .contact-social-details-container {

        a {
            padding: 8px;
            color: #000;
        }

        i {
            
            font-size: 1.25rem;
        }

        .fa-facebook-f:hover {
            color: #3b5998
        }

        .fa-twitter:hover {
            color: #38A1F3;
        }

        .fa-instagram:hover {
            color: #8134AF;
        }

        .fa-linkedin-in:hover {
            color: #0077B5;
        }

        .fa-github:hover {
            color: #333;
        }
        
        .fa-stack-overflow:hover {
            color: #f48024;
        }
    }
}

.contact-send-inquiry {
    display: grid;
    grid-template-columns: 7;
    grid-template-rows: 2;
}

.contact-form-title {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
}

.contact-form {

    .contact-form-input,
    #sent-btn {
        display: block;
    }

    .contact-form-input {
        padding: 15px;
        margin-bottom: 15px;
        font-size: 13px;
        box-shadow: inset 1px 2px 0 rgba(0, 0, 0, 0.06);
        border: 1px solid #D9D9D9;
        line-height: 1.6;
        outline: none;
    }
}