footer {
    margin-top: 150px;
    box-sizing: border-box;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copy {
        margin-left: 50px;
    }

    .social-icons {
        margin: 16px 50px;
        width: 230px;

        a {
            color: #000;
        }

        i {
            font-size: 1.25rem;
            margin: 0 8px;
        }

        .fa-facebook-f:hover {
            color: #3b5998
        }

        .fa-twitter:hover {
            color: #38A1F3;
        }

        .fa-instagram:hover {
            color: #8134AF;
        }

        .fa-linkedin-in:hover {
            color: #0077B5;
        }

        .fa-github:hover {
            color: #333;
        }
        
        .fa-stack-overflow:hover {
            color: #f48024;
        }
    }
}