.portfolio-main {
    font-family: $font-main;

    .portfolio-title {
        text-align: center;
        margin-bottom: 5%;
        font-size: 64px;
        font-weight: 700;
        line-height: 76px;
        letter-spacing: -2px;
    }

    .portfolio-project {
        display: flex;
        width: 95%;
        margin: 5% auto;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px -4px rgba(0,0,0,.75);

        .project-image {
            width: 50%;
            height: 100%;
        }

        .project-description-block {
            vertical-align: top;
            margin-left: 15px;
            font-size: 14px;
            width: 50%;
            // box-shadow: 0 10px 10px -10px rgba(0,0,0,.15);
            display: block;
        }

        .project-title {
            font-size: 1.5rem;
        }

        .project-descripton {
            color: $text-color;
        }

        .project-view {
            background-color: #1922a8;
            border-radius: 5px;
            color: #fff;
            padding: 15px 25px;
            font-size: 16px;
            font-weight: 700;
            border: 3px solid #1922a8;
            transition: 0.5s;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    
        .project-view:hover {
            color: rgba(0, 0, 0, 0.7);
            background: transparent;
        }
    }

}

@include tablet {
    .portfolio-main .portfolio-project {
        display: block;
        width: 80%;
        margin-top: 10%;
        box-shadow: 0px 2px 10px -4px rgba(0,0,0,.75);
    }

    .portfolio-main .portfolio-project .project-image {
        width: 100%;
    }

    .portfolio-main .portfolio-project .project-description-block {
        margin: 2% 0;
        padding: 0 2% 1% 2%;
        width: 99%;
    }

    .portfolio-main .portfolio-title {
        font-size: 58px;
    }
}

@include phone {
    .portfolio-main .portfolio-project .project-description-block {
        text-align: center;
    }

    .portfolio-main .portfolio-project {
        width: 90%;
        margin-top: 10%;
    }

    .portfolio-main .portfolio-project .project-description-block {
        width: 95%;
    }

    .portfolio-main .portfolio-title {
        font-size: 42px;
        line-height: 66px;
    }
}