@import "variables";
@import "normalize";
@import "variables";
@import "mixins";
@import "backgrounds";
@import "header";
@import "footer";

body {
    font-family: $font-main;
}

p {
    line-height: 27px;
}

p {
    img {
        width: 80vw;
        display: block;
        margin: 0 auto;
        border-radius: 3px;
    }
}

h2 {
    font-size: 56px;
    text-align: center;
}

.meta-info {
    display: block;
    width: 30%;
    margin: 0 auto 20px auto;
}

.date {
    font-size: 1.05em;
}

.author {
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}

.post-summary {
    width: 70%;
    margin: 5% auto 0 auto;
}

article {
    width: 70%;
    margin: 0 auto;

    h3 {
        font-size: 1.7em;
    }

    img {
        width: 100%;
    }
}

article:after {
    content: 'The end.';
    font-size: 54px;
    font-weight: bold;
}

@include tablet {
    h2 {
        font-size: 48px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .meta-info {
        width: 50%;
    }

    .post-summary {
        width:83%;
    }

    article {
        width: 83%;
    }
}

@include phone {
    p {
        img {
            width: 90vw;
        }
    }

    h2 {
        font-size: 34px;
    }

    .meta-info {
        width: 80%;
        text-align: center;
    }

    .post-summary {
        width:90%;
    }

    article {
        width: 90%;
    }

    article:after {
        font-size: 34px;
    }
}