header {
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;

    img {
        display: inline-block;
    }
}

nav {
    display: inline-block;

    ul {
        width: 420px;

        li {
            list-style-type: none;
            display: inline-block;
            margin: 0 3%;

            a {
                text-decoration: none;
                color: #000;
                font-family: $font-main;
                font-weight: bold;
                font-size: $header-font-size;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}

footer {
    box-sizing: border-box;
    height: 60px;
    width: 100vw;
    padding: 2% 5% 65px 5%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;

    .copy {

    }

    .social-icons {
        margin: 16px 0;
        width: 300px;

        a {
            color: #000;
        }

        i {
            font-size: 1.25rem;
            margin: 0 8px;
        }

        .fa-facebook-f:hover {
            color: #3b5998
        }

        .fa-twitter:hover {
            color: #38A1F3;
        }

        .fa-instagram:hover {
            color: #8134AF;
        }

        .fa-linkedin-in:hover {
            color: #0077B5;
        }

        .fa-github:hover {
            color: #333;
        }
        
        .fa-stack-overflow:hover {
            color: #f48024;
        }
    }
}