<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <img src="{{ site.baseurl }}/images/logo.png" alt="Logo">

        <div class="container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <nav class="hidden">
            <ul class="menu">
                <a href="{{ site.baseurl }}/"><li>Home</li></a>
                <a href="{{ site.baseurl }}/blog"><li>Blog</li></a>
                <a href="{{ site.baseurl }}/about"><li>About me</li></a>
                <a href="{{ site.baseurl }}/portfolio"><li>Portfolio</li></a>
                <a href="{{ site.baseurl }}/contact"><li>Contact</li></a>
            </ul>
        </nav>
    </header>

    {{ content }}

    <footer>
        <p class="copy">
            © 2018 RifatCholakov. All rights reserved.
        </p>
        <div class="social-icons">
            <a href="https://www.facebook.com/rifatcholakov" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com/rifatcholakov" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/rifatcholakov" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rifatcholakov/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.github.com/rifatcholakov" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://stackoverflow.com/users/9290485/rifat-cholakov" target="_blank"><i class="fab fa-stack-overflow"></i></a>
        </div>
    </footer>

    <script>
        function myFunction(x) {
            x.classList.toggle('change');
            let nav = document.getElementsByTagName('nav');
            $('nav').toggleClass('hidden');
        }

        
    </script>
</body>
</html>