<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css">
</head>
<body>

    <header>
        <img src="{{ site.baseurl }}/images/logo.png" alt="Logo">
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About me</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    {{ content }}

    <footer>
        <p class="copy">
            © 2018 RifatCholakov. All rights reserved.
        </p>
        <div class="social-icons">
            <a href="https://www.facebook.com/rifatcholakov" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com/rifatcholakov" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/rifatcholakov" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rifatcholakov/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.github.com/rifatcholakov" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://stackoverflow.com/users/9290485/rifat-cholakov" target="_blank"><i class="fab fa-stack-overflow"></i></a>
        </div>
    </footer>
</body>
</html>